// Default black theme

// Color variables
$black: #181818;
$red: #E74727;
$red-small: #DC3918;
$white: #fff;
$orange : #ff7200;

// Config
$color-background: $black !default;
$color-dot-accent: $orange !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $red !default;
$color-code: $red-small !default;
$color-nav-link: $red !default;
$color-primary-link: $orange !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities",
        "print"
;

/** Homepage **/

.social-icons-header {
  > .inline-block {
    vertical-align: middle;
  }
}

/** About page **/

//@media screen {
  .name-container {
    display: flex;
    align-items: center;
    > .name-column {
      flex: 1;
    }
    > .image-column {
      flex: 1;
      flex: 0 0 auto;
      text-align: right;
      box-sizing: content-box !important;
      padding-top: 2px;
      height: 75px;
      padding-right: 20px;
      > .image-container {
        display: inline-block;
        overflow: hidden;
        width: 75px;
        height: inherit;
        border-radius: 50%;
        > img {
          width: inherit;
          height: inherit;
          
        }
      }
    }
  }
//}


@media print {
  .name-container {
    > .image-column {
      height: 55px;
      > .image-container {
        width: 55px;
      }
    }
  }
}
