.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
  * Reset some basic elements
*/
* {
  box-sizing: border-box !important;
  margin: 0; }

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #181818;
  background-color: #fff; }

p {
  margin-top: 0;
  margin-bottom: 0.5em; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.25em; }

h1, .h1 {
  font-size: 40px; }

h2, .h2 {
  font-size: 32px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.02em; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

pre {
  border-left: 8px solid #ddd;
  margin: 32px 0;
  padding-left: 16px;
  width: 75%;
  overflow-x: auto; }

code {
  color: #DC3918;
  font-size: 16px;
  padding: 1px 4px; }

.prose p, .prose ol, .prose ul {
  font-size: 17px;
  margin-bottom: 1em;
  width: 100%; }
  @media (min-width: 52em) {
    .prose p, .prose ol, .prose ul {
      width: 91.6666666667%; } }
  .prose p a, .prose ol a, .prose ul a {
    color: #E74727; }
    .prose p a:hover, .prose ol a:hover, .prose ul a:hover {
      color: #ff7200;
      text-decoration: none; }
.prose p {
  line-height: 1.8rem; }
.prose ul, .prose ol {
  padding-left: 40px; }
.prose li {
  margin-bottom: 0.5em; }
  .prose li ul li, .prose li ol li {
    margin-bottom: 0; }
.prose img {
  max-width: 100%; }
  @media (min-width: 52em) {
    .prose img {
      max-width: 120%; } }
.prose .col-3 .imageholder {
  max-height: 200px;
  overflow: hidden;
  transition: transform .5s;
  transform: scale3d(1, 1, 1); }
  .prose .col-3 .imageholder img {
    max-width: none;
    min-width: 100%;
    margin: 0 auto;
    transition: transform .5s;
    transform: scale3d(1, 1, 1); }
  @media (min-width: 52em) {
    .prose .col-3 .imageholder {
      max-width: 120%; }
      .prose .col-3 .imageholder img {
        max-width: none; } }
.prose:hover .col-3 .imageholder img {
  transform: scale3d(1.05, 1.05, 1.05); }
.prose blockquote {
  line-height: 1.375;
  padding-left: 20px;
  margin: 40px 0 40px -16px;
  border-left: 8px solid #ddd;
  font-style: italic; }
  .prose blockquote p {
    font-size: 24px; }
  @media (min-width: 52em) {
    .prose blockquote {
      padding-left: 32px;
      margin: 64px 0 64px -40px;
      max-width: 110%; }
      .prose blockquote p {
        font-size: 32px; } }
.prose hr {
  color: #181818;
  border-style: solid;
  border-width: thin;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
.prose dt {
  font-weight: bold;
  font-style: italic;
  line-height: 1.25; }
.prose dd {
  font-style: italic;
  margin-bottom: 0.5em; }
.prose table {
  border-collapse: collapse;
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .prose table th {
    font-weight: bold;
    text-align: left; }
  .prose table th,
  .prose table td {
    padding: 16px 32px 16px 2px;
    border-top: 1px solid #181818;
    border-bottom: 1px solid #181818; }
  .prose table tr {
    background-color: #fff;
    border-top: 1px solid #181818; }
  .prose table tr th {
    border-top: 2px solid #181818;
    border-bottom: 2px solid #181818; }

.text-100 {
  font-weight: 100; }

.text-200 {
  font-weight: 200; }

.text-300 {
  font-weight: 300; }

.text-400 {
  font-weight: 400; }

.text-500 {
  font-weight: 500; }

.text-600 {
  font-weight: 600; }

.text-accent {
  transition: color .5s; }

.portfolio-block h2 > a.link-primary:after {
  content: "\f105";
  position: absolute;
  margin-left: 15px;
  margin-top: -1px;
  font-family: "FontAwesome";
  opacity: 0;
  transition: opacity .25s; }
.portfolio-block h2 > a.link-primary:hover:after {
  opacity: 1; }
.portfolio-block p:last-of-type {
  margin-bottom: 0; }
.portfolio-block .years {
  display: block;
  color: #999;
  font-size: 85%;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 300; }

.portfolio-block-separator {
  height: 0px;
  border: 0;
  border-top: 1px solid #ccc; }

.portfolio-block:not(:hover) .text-accent {
  color: #999; }

.portfolio-block .imageholder {
  border: 1px solid #ddd; }

.portfolio-tag {
  color: #fff;
  display: inline-block;
  padding: 3px 5px 2px;
  font-size: 0.75rem;
  margin-top: 5px;
  border-radius: 3px;
  text-decoration: none !important;
  border: 1px solid rgba(0, 0, 0, 0.075);
  transition: background-color .5s, filter 0.5s;
  background-color: #999; }
  .portfolio-tag.dark-bg {
    border-color: rgba(255, 255, 255, 0.075); }
  .portfolio-tag.active, .portfolio-tag:active {
    text-shadow: 0 0 0 #fff;
    cursor: default;
    color: #fff !important; }
    .portfolio-tag.active.dark-bg, .portfolio-tag:active.dark-bg {
      border-color: rgba(255, 255, 255, 0.33); }
  .portfolio-tag:hover:not(.active) {
    color: #fff !important;
    text-shadow: 0 0 0 #fff;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.66);
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0.1); }
    .portfolio-tag:hover:not(.active).dark-bg {
      border-color: rgba(255, 255, 255, 0.125); }
  .portfolio-block:hover .portfolio-tag:not(.active):not(:hover) {
    filter: saturate(0.3) contrast(0.5) brightness(1.33); }
  .tags-page-tag-container .portfolio-tag:not(.active):not(:hover) {
    filter: saturate(0.75) contrast(0.5) brightness(1); }
  .tags-page-tag-container:hover .portfolio-tag:not(.active):not(:hover) {
    filter: saturate(0) contrast(0.5) brightness(1); }

.tag-color-background-3d {
  background-color: #000671; }
  .tag-color-background-3d:not(.active):hover {
    background-color: #00033e; }

.tag-color-background-algorithm {
  background-color: #1777b6; }
  .tag-color-background-algorithm:not(.active):hover {
    background-color: #115989; }

.tag-color-background-algorithms {
  background-color: #1777b6; }
  .tag-color-background-algorithms:not(.active):hover {
    background-color: #115989; }

.tag-color-background-api {
  background-color: #777777; }
  .tag-color-background-api:not(.active):hover {
    background-color: #5e5e5e; }

.tag-color-background-aws {
  background-color: #e57912; }
  .tag-color-background-aws:not(.active):hover {
    background-color: #b6600e; }

.tag-color-background-backbone {
  background-color: #0270b5; }
  .tag-color-background-backbone:not(.active):hover {
    background-color: #015183; }

.tag-color-background-backbone-js {
  background-color: #0270b5; }
  .tag-color-background-backbone-js:not(.active):hover {
    background-color: #015183; }

.tag-color-background-blender {
  background-color: #616974; }
  .tag-color-background-blender:not(.active):hover {
    background-color: #4a5058; }

.tag-color-background-bolt-cms {
  background-color: #769edd; }
  .tag-color-background-bolt-cms:not(.active):hover {
    background-color: #4d81d3; }

.tag-color-background-c {
  background-color: #2b90e5; }
  .tag-color-background-c:not(.active):hover {
    background-color: #1876c5; }

.tag-color-background-c-sharp {
  background-color: #2b90e5; }
  .tag-color-background-c-sharp:not(.active):hover {
    background-color: #1876c5; }

.tag-color-background-canvas {
  background-color: #77df61; }
  .tag-color-background-canvas:not(.active):hover {
    background-color: #52d637; }

.tag-color-background-css3 {
  background-color: #1fb6b0; }
  .tag-color-background-css3:not(.active):hover {
    background-color: #188a86; }

.tag-color-background-css {
  background-color: #1fb6b0; }
  .tag-color-background-css:not(.active):hover {
    background-color: #188a86; }

.tag-color-background-cwl {
  background-color: #841b2f; }
  .tag-color-background-cwl:not(.active):hover {
    background-color: #5a1220; }

.tag-color-background-data-visualization {
  background-color: #da5e1a; }
  .tag-color-background-data-visualization:not(.active):hover {
    background-color: #ac4a15; }

.tag-color-background-d3 {
  background-color: #f6874b; }
  .tag-color-background-d3:not(.active):hover {
    background-color: #f4671a; }

.tag-color-background-d3-js {
  background-color: #f6874b; }
  .tag-color-background-d3-js:not(.active):hover {
    background-color: #f4671a; }

.tag-color-background-doctrine {
  background-color: #372b72; }
  .tag-color-background-doctrine:not(.active):hover {
    background-color: #251d4d; }

.tag-color-background-drupal {
  background-color: #0678BE; }
  .tag-color-background-drupal:not(.active):hover {
    background-color: #04598d; }

.tag-color-background-elasticsearch {
  background-color: #f9b10e; }
  .tag-color-background-elasticsearch:not(.active):hover {
    background-color: #cf9105; }

.tag-color-background-email {
  background-color: #3ff5b7; }
  .tag-color-background-email:not(.active):hover {
    background-color: #0ff2a5; }

.tag-color-background-game {
  background-color: #21c012; }
  .tag-color-background-game:not(.active):hover {
    background-color: #19910e; }

.tag-color-background-graphic-design {
  background-color: #39cb9a; }
  .tag-color-background-graphic-design:not(.active):hover {
    background-color: #2ba67d; }

.tag-color-background-grasshopper {
  background-color: #676c95; }
  .tag-color-background-grasshopper:not(.active):hover {
    background-color: #525677; }

.tag-color-background-finance {
  background-color: #305ce7; }
  .tag-color-background-finance:not(.active):hover {
    background-color: #1843cc; }

.tag-color-background-foundation {
  background-color: #1D92CF; }
  .tag-color-background-foundation:not(.active):hover {
    background-color: #1772a2; }

.tag-color-background-in-development {
  background-color: #30c33a; }
  .tag-color-background-in-development:not(.active):hover {
    background-color: #269a2e; }

.tag-color-background-incomplete {
  background-color: #30c33a; }
  .tag-color-background-incomplete:not(.active):hover {
    background-color: #269a2e; }

.tag-color-background-ios {
  background-color: #5887e3; }
  .tag-color-background-ios:not(.active):hover {
    background-color: #2c68dc; }

.tag-color-background-javascript {
  background-color: #E8AC09; }
  .tag-color-background-javascript:not(.active):hover {
    background-color: #b78807; }

.tag-color-background-jinja2 {
  background-color: #8441dc; }
  .tag-color-background-jinja2:not(.active):hover {
    background-color: #6a24c6; }

.tag-color-background-maps {
  background-color: #247ab7; }
  .tag-color-background-maps:not(.active):hover {
    background-color: #1c5e8c; }

.tag-color-background-masonry {
  background-color: #954e96; }
  .tag-color-background-masonry:not(.active):hover {
    background-color: #743d74; }

.tag-color-background-mobile {
  background-color: #89af7c; }
  .tag-color-background-mobile:not(.active):hover {
    background-color: #6d9a5e; }

.tag-color-background-mongodb {
  background-color: #69B241; }
  .tag-color-background-mongodb:not(.active):hover {
    background-color: #538d33; }

.tag-color-background-net {
  background-color: #16168f; }
  .tag-color-background-net:not(.active):hover {
    background-color: #0f0f63; }

.tag-color-background-node-js {
  background-color: #e13fcc; }
  .tag-color-background-node-js:not(.active):hover {
    background-color: #cd20b7; }

.tag-color-background-npm {
  background-color: #cb3837; }
  .tag-color-background-npm:not(.active):hover {
    background-color: #a42c2b; }

.tag-color-background-platform {
  background-color: #7397cc; }
  .tag-color-background-platform:not(.active):hover {
    background-color: #4e7bbe; }

.tag-color-background-photoshop {
  background-color: #1473e6; }
  .tag-color-background-photoshop:not(.active):hover {
    background-color: #105cb7; }

.tag-color-background-php {
  background-color: #777BB4; }
  .tag-color-background-php:not(.active):hover {
    background-color: #585da0; }

.tag-color-background-postgresql {
  background-color: #336791; }
  .tag-color-background-postgresql:not(.active):hover {
    background-color: #264c6b; }

.tag-color-background-pyramid {
  background-color: #ab2431; }
  .tag-color-background-pyramid:not(.active):hover {
    background-color: #811b25; }

.tag-color-background-python {
  background-color: #2B5B84; }
  .tag-color-background-python:not(.active):hover {
    background-color: #1e405e; }

.tag-color-background-openshift {
  background-color: #CC0000; }
  .tag-color-background-openshift:not(.active):hover {
    background-color: #990000; }

.tag-color-background-react-js {
  background-color: #61dafb; }
  .tag-color-background-react-js:not(.active):hover {
    background-color: #2fcefa; }

.tag-color-background-react-native {
  background-color: #05A5D1; }
  .tag-color-background-react-native:not(.active):hover {
    background-color: #047e9f; }

.tag-color-background-redis {
  background-color: #D92B21; }
  .tag-color-background-redis:not(.active):hover {
    background-color: #ad221a; }

.tag-color-background-restful {
  background-color: #6c36b9; }
  .tag-color-background-restful:not(.active):hover {
    background-color: #552a92; }

.tag-color-background-rhino {
  background-color: #4b465d; }
  .tag-color-background-rhino:not(.active):hover {
    background-color: #343040; }

.tag-color-background-saas {
  background-color: #273300; }
  .tag-color-background-saas:not(.active):hover {
    background-color: black; }

.tag-color-background-scss {
  background-color: #cf649a; }
  .tag-color-background-scss:not(.active):hover {
    background-color: #c33d81; }

.tag-color-background-silex {
  background-color: #4c2fbe; }
  .tag-color-background-silex:not(.active):hover {
    background-color: #3c2595; }

.tag-color-background-twig {
  background-color: #BACF29; }
  .tag-color-background-twig:not(.active):hover {
    background-color: #94a421; }

.tag-color-background-typescript {
  background-color: #007ACC; }
  .tag-color-background-typescript:not(.active):hover {
    background-color: #005c99; }

.tag-color-background-websockets {
  background-color: #cea439; }
  .tag-color-background-websockets:not(.active):hover {
    background-color: #aa862a; }

.tag-color-background-windows {
  background-color: #2b90e5; }
  .tag-color-background-windows:not(.active):hover {
    background-color: #1876c5; }

.tag-color-background-xaml {
  background-color: #28fe48; }
  .tag-color-background-xaml:not(.active):hover {
    background-color: #01f225; }

.tag-color-text-3d {
  color: #000671; }
  .tag-color-text-3d.hover-darken:hover {
    background-color: #00033e; }

.tag-color-text-algorithm {
  color: #1777b6; }
  .tag-color-text-algorithm.hover-darken:hover {
    background-color: #115989; }

.tag-color-text-algorithms {
  color: #1777b6; }
  .tag-color-text-algorithms.hover-darken:hover {
    background-color: #115989; }

.tag-color-text-api {
  color: #777777; }
  .tag-color-text-api.hover-darken:hover {
    background-color: #5e5e5e; }

.tag-color-text-aws {
  color: #e57912; }
  .tag-color-text-aws.hover-darken:hover {
    background-color: #b6600e; }

.tag-color-text-backbone {
  color: #0270b5; }
  .tag-color-text-backbone.hover-darken:hover {
    background-color: #015183; }

.tag-color-text-backbone-js {
  color: #0270b5; }
  .tag-color-text-backbone-js.hover-darken:hover {
    background-color: #015183; }

.tag-color-text-blender {
  color: #616974; }
  .tag-color-text-blender.hover-darken:hover {
    background-color: #4a5058; }

.tag-color-text-bolt-cms {
  color: #769edd; }
  .tag-color-text-bolt-cms.hover-darken:hover {
    background-color: #4d81d3; }

.tag-color-text-c {
  color: #2b90e5; }
  .tag-color-text-c.hover-darken:hover {
    background-color: #1876c5; }

.tag-color-text-c-sharp {
  color: #2b90e5; }
  .tag-color-text-c-sharp.hover-darken:hover {
    background-color: #1876c5; }

.tag-color-text-canvas {
  color: #77df61; }
  .tag-color-text-canvas.hover-darken:hover {
    background-color: #52d637; }

.tag-color-text-css3 {
  color: #1fb6b0; }
  .tag-color-text-css3.hover-darken:hover {
    background-color: #188a86; }

.tag-color-text-css {
  color: #1fb6b0; }
  .tag-color-text-css.hover-darken:hover {
    background-color: #188a86; }

.tag-color-text-cwl {
  color: #841b2f; }
  .tag-color-text-cwl.hover-darken:hover {
    background-color: #5a1220; }

.tag-color-text-data-visualization {
  color: #da5e1a; }
  .tag-color-text-data-visualization.hover-darken:hover {
    background-color: #ac4a15; }

.tag-color-text-d3 {
  color: #f6874b; }
  .tag-color-text-d3.hover-darken:hover {
    background-color: #f4671a; }

.tag-color-text-d3-js {
  color: #f6874b; }
  .tag-color-text-d3-js.hover-darken:hover {
    background-color: #f4671a; }

.tag-color-text-doctrine {
  color: #372b72; }
  .tag-color-text-doctrine.hover-darken:hover {
    background-color: #251d4d; }

.tag-color-text-drupal {
  color: #0678BE; }
  .tag-color-text-drupal.hover-darken:hover {
    background-color: #04598d; }

.tag-color-text-elasticsearch {
  color: #f9b10e; }
  .tag-color-text-elasticsearch.hover-darken:hover {
    background-color: #cf9105; }

.tag-color-text-email {
  color: #3ff5b7; }
  .tag-color-text-email.hover-darken:hover {
    background-color: #0ff2a5; }

.tag-color-text-game {
  color: #21c012; }
  .tag-color-text-game.hover-darken:hover {
    background-color: #19910e; }

.tag-color-text-graphic-design {
  color: #39cb9a; }
  .tag-color-text-graphic-design.hover-darken:hover {
    background-color: #2ba67d; }

.tag-color-text-grasshopper {
  color: #676c95; }
  .tag-color-text-grasshopper.hover-darken:hover {
    background-color: #525677; }

.tag-color-text-finance {
  color: #305ce7; }
  .tag-color-text-finance.hover-darken:hover {
    background-color: #1843cc; }

.tag-color-text-foundation {
  color: #1D92CF; }
  .tag-color-text-foundation.hover-darken:hover {
    background-color: #1772a2; }

.tag-color-text-in-development {
  color: #30c33a; }
  .tag-color-text-in-development.hover-darken:hover {
    background-color: #269a2e; }

.tag-color-text-incomplete {
  color: #30c33a; }
  .tag-color-text-incomplete.hover-darken:hover {
    background-color: #269a2e; }

.tag-color-text-ios {
  color: #5887e3; }
  .tag-color-text-ios.hover-darken:hover {
    background-color: #2c68dc; }

.tag-color-text-javascript {
  color: #E8AC09; }
  .tag-color-text-javascript.hover-darken:hover {
    background-color: #b78807; }

.tag-color-text-jinja2 {
  color: #8441dc; }
  .tag-color-text-jinja2.hover-darken:hover {
    background-color: #6a24c6; }

.tag-color-text-maps {
  color: #247ab7; }
  .tag-color-text-maps.hover-darken:hover {
    background-color: #1c5e8c; }

.tag-color-text-masonry {
  color: #954e96; }
  .tag-color-text-masonry.hover-darken:hover {
    background-color: #743d74; }

.tag-color-text-mobile {
  color: #89af7c; }
  .tag-color-text-mobile.hover-darken:hover {
    background-color: #6d9a5e; }

.tag-color-text-mongodb {
  color: #69B241; }
  .tag-color-text-mongodb.hover-darken:hover {
    background-color: #538d33; }

.tag-color-text-net {
  color: #16168f; }
  .tag-color-text-net.hover-darken:hover {
    background-color: #0f0f63; }

.tag-color-text-node-js {
  color: #e13fcc; }
  .tag-color-text-node-js.hover-darken:hover {
    background-color: #cd20b7; }

.tag-color-text-npm {
  color: #cb3837; }
  .tag-color-text-npm.hover-darken:hover {
    background-color: #a42c2b; }

.tag-color-text-platform {
  color: #7397cc; }
  .tag-color-text-platform.hover-darken:hover {
    background-color: #4e7bbe; }

.tag-color-text-photoshop {
  color: #1473e6; }
  .tag-color-text-photoshop.hover-darken:hover {
    background-color: #105cb7; }

.tag-color-text-php {
  color: #777BB4; }
  .tag-color-text-php.hover-darken:hover {
    background-color: #585da0; }

.tag-color-text-postgresql {
  color: #336791; }
  .tag-color-text-postgresql.hover-darken:hover {
    background-color: #264c6b; }

.tag-color-text-pyramid {
  color: #ab2431; }
  .tag-color-text-pyramid.hover-darken:hover {
    background-color: #811b25; }

.tag-color-text-python {
  color: #2B5B84; }
  .tag-color-text-python.hover-darken:hover {
    background-color: #1e405e; }

.tag-color-text-openshift {
  color: #CC0000; }
  .tag-color-text-openshift.hover-darken:hover {
    background-color: #990000; }

.tag-color-text-react-js {
  color: #61dafb; }
  .tag-color-text-react-js.hover-darken:hover {
    background-color: #2fcefa; }

.tag-color-text-react-native {
  color: #05A5D1; }
  .tag-color-text-react-native.hover-darken:hover {
    background-color: #047e9f; }

.tag-color-text-redis {
  color: #D92B21; }
  .tag-color-text-redis.hover-darken:hover {
    background-color: #ad221a; }

.tag-color-text-restful {
  color: #6c36b9; }
  .tag-color-text-restful.hover-darken:hover {
    background-color: #552a92; }

.tag-color-text-rhino {
  color: #4b465d; }
  .tag-color-text-rhino.hover-darken:hover {
    background-color: #343040; }

.tag-color-text-saas {
  color: #273300; }
  .tag-color-text-saas.hover-darken:hover {
    background-color: black; }

.tag-color-text-scss {
  color: #cf649a; }
  .tag-color-text-scss.hover-darken:hover {
    background-color: #c33d81; }

.tag-color-text-silex {
  color: #4c2fbe; }
  .tag-color-text-silex.hover-darken:hover {
    background-color: #3c2595; }

.tag-color-text-twig {
  color: #BACF29; }
  .tag-color-text-twig.hover-darken:hover {
    background-color: #94a421; }

.tag-color-text-typescript {
  color: #007ACC; }
  .tag-color-text-typescript.hover-darken:hover {
    background-color: #005c99; }

.tag-color-text-websockets {
  color: #cea439; }
  .tag-color-text-websockets.hover-darken:hover {
    background-color: #aa862a; }

.tag-color-text-windows {
  color: #2b90e5; }
  .tag-color-text-windows.hover-darken:hover {
    background-color: #1876c5; }

.tag-color-text-xaml {
  color: #28fe48; }
  .tag-color-text-xaml.hover-darken:hover {
    background-color: #01f225; }

.images-slideshow-container {
  width: 100%;
  height: 620px;
  background: #282828;
  position: relative; }
  .images-slideshow-container .images.slideshow {
    transition: opacity .5s ease-out; }
    .images-slideshow-container .images.slideshow button.slick-arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100px;
      z-index: 2;
      background-color: transparent;
      border: none;
      display: block;
      color: transparent;
      text-align: center;
      transition: background .5s;
      transform: translate3d(0, 0, 0);
      cursor: pointer; }
      .images-slideshow-container .images.slideshow button.slick-arrow:after {
        font-family: FontAwesome;
        color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        transition: transform 0.33s ease-out; }
      .images-slideshow-container .images.slideshow button.slick-arrow:hover:after {
        transform: scale3d(1.5, 1.5, 1); }
      .images-slideshow-container .images.slideshow button.slick-arrow.slick-prev {
        left: 0;
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
        /* IE6-9; */ }
        .images-slideshow-container .images.slideshow button.slick-arrow.slick-prev:after {
          content: "\f053";
          left: 38px; }
        .images-slideshow-container .images.slideshow button.slick-arrow.slick-prev:hover {
          background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff000000', endColorstr='#00000000',GradientType=1 );
          /* IE6-9; */ }
      .images-slideshow-container .images.slideshow button.slick-arrow.slick-next {
        right: 0;
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
        /* IE6-9; */ }
        .images-slideshow-container .images.slideshow button.slick-arrow.slick-next:after {
          content: "\f054";
          right: 38px; }
        .images-slideshow-container .images.slideshow button.slick-arrow.slick-next:hover {
          background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ff000000',GradientType=1 );
          /* IE6-9; */ }
      .images-slideshow-container .images.slideshow button.slick-arrow:focus, .images-slideshow-container .images.slideshow button.slick-arrow.focus, .images-slideshow-container .images.slideshow button.slick-arrow:active, .images-slideshow-container .images.slideshow button.slick-arrow.active {
        outline: none; }
  .images-slideshow-container .image-container {
    padding: 10px 5px;
    outline: none; }
    .images-slideshow-container .image-container:active, .images-slideshow-container .image-container.active, .images-slideshow-container .image-container:focus, .images-slideshow-container .image-container:active:focus {
      outline: none; }
    .images-slideshow-container .image-container img {
      max-height: 600px; }

.link-to-demo-container {
  width: 100%;
  text-align: right; }
  .link-to-demo-container .link-to-demo {
    display: inline-block;
    min-width: 200px;
    padding: 16px 36px 16px 18px;
    color: #fff;
    background: #e26500;
    position: relative;
    text-align: center; }
    .link-to-demo-container .link-to-demo:after {
      font-family: FontAwesome;
      content: "\f105";
      margin-left: 20px;
      position: absolute;
      right: 20px;
      top: 15px; }
    .link-to-demo-container .link-to-demo:hover {
      background: #ff7200;
      text-decoration: none; }

/*
@keyframes rotateIt {
  // 1
  0% {
    transform: rotate3D(1,0,0, 0deg);
    content: "Current Work";
  }

  20% {
    transform: rotate3D(1,0,0, 0deg);
    content: "Current Work";
  }

  25% {
    transform: rotate3D(1,0,0, -90deg);
    content: "Current Work";
  }

  // 2
  25.001% {
    transform: rotate3D(1,0,0, -270deg);
    content: "Past Work";
  }

  32.5% {
    transform: rotate3D(1,0,0, -360deg);
    content: "Past Work";
  }

  52.5% {
    transform: rotate3D(1,0,0, -360deg);
    content: "Past Work";
  }

  57.5% {
    transform: rotate3D(1,0,0, -450deg);
    content: "Past Work";
  }

  // 3
  57.501% {
    transform: rotate3D(1,0,0, -630deg);
    content: "Things";
  }

  65% {
    transform: rotate3D(1,0,0, -720deg);
    content: "Things";
  }

  85% {
    transform: rotate3D(1,0,0, -720deg);
    content: "Things";
  }

  90% {
    transform: rotate3D(1,0,0, -810deg);
    content: "Things";
  }

  // 1
  90.0001% {
    transform: rotate3D(1,0,0, 90deg);
    content: "Current Work";
  }

  97.5% {
    transform: rotate3D(1,0,0, 0deg);
    content: "Current Work";
  }

  100% {
    transform: rotate3D(1,0,0, 0deg);
    content: "Current Work";
  }

}
*/
@keyframes rotateIt {
  0% {
    transform: rotate3D(1, 0, 0, 0deg);
    content: "Current Work";
    width: 236px; }
  25% {
    transform: rotate3D(1, 0, 0, 0deg);
    content: "Current Work";
    width: 236px; }
  27.5% {
    transform: rotate3D(1, 0, 0, -90deg);
    content: "Current Work";
    width: 236px; }
  27.501% {
    transform: rotate3D(1, 0, 0, -270deg);
    content: "Past Work";
    width: 236px; }
  32.5% {
    transform: rotate3D(1, 0, 0, -360deg);
    content: "Past Work";
    width: 183px; }
  57.5% {
    transform: rotate3D(1, 0, 0, -360deg);
    content: "Past Work";
    width: 183px; }
  60% {
    transform: rotate3D(1, 0, 0, -450deg);
    content: "Past Work";
    width: 183px; }
  60.001% {
    transform: rotate3D(1, 0, 0, -630deg);
    content: "Things";
    width: 183px; }
  65% {
    transform: rotate3D(1, 0, 0, -720deg);
    content: "Things";
    width: 122px; }
  87.5% {
    width: 122px; }
  90% {
    transform: rotate3D(1, 0, 0, -720deg);
    content: "Things";
    width: 122px; }
  92.5% {
    transform: rotate3D(1, 0, 0, -810deg);
    content: "Things";
    width: 236px; }
  92.501% {
    transform: rotate3D(1, 0, 0, 90deg);
    content: "Current Work";
    width: 236px; }
  97.5% {
    transform: rotate3D(1, 0, 0, 0deg);
    content: "Current Work";
    width: 236px; }
  100% {
    transform: rotate3D(1, 0, 0, 0deg);
    content: "Current Work";
    width: 236px; } }
@keyframes rotateItBG {
  0% {
    transform: rotate3D(1, 0, 0, 0deg)translate3d(0, 0px, -10px);
    content: "Current Work";
    width: 236px;
    filter: blur(0px); }
  25% {
    transform: rotate3D(1, 0, 0, 0deg)translate3d(0, 0px, -10px);
    content: "Current Work";
    width: 236px;
    filter: blur(0px); }
  27.5% {
    transform: rotate3D(1, 0, 0, -90deg) translate3d(0, 100px, -50px);
    content: "Current Work";
    width: 236px;
    filter: blur(2px); }
  27.5001% {
    transform: rotate3D(1, 0, 0, -270deg) translate3d(0, 0px, -30px);
    content: "Past Work";
    width: 236px;
    filter: blur(2px); }
  32.5% {
    transform: rotate3D(1, 0, 0, -360deg)translate3d(0, 0px, -10px);
    content: "Past Work";
    width: 183px;
    filter: blur(0px); }
  57.5% {
    transform: rotate3D(1, 0, 0, -360deg)translate3d(0, 0px, -10px);
    content: "Past Work";
    width: 183px;
    filter: blur(0px); }
  60% {
    transform: rotate3D(1, 0, 0, -450deg) translate3d(0, 100px, -50px);
    content: "Past Work";
    width: 183px;
    filter: blur(2px); }
  60.0001% {
    transform: rotate3D(1, 0, 0, -630deg) translate3d(0, 0px, -30px);
    content: "Things";
    width: 183px;
    filter: blur(2px); }
  65% {
    transform: rotate3D(1, 0, 0, -720deg)translate3d(0, 0px, -10px);
    content: "Things";
    width: 122px;
    filter: blur(0px); }
  90% {
    transform: rotate3D(1, 0, 0, -720deg)translate3d(0, 0px, -10px);
    content: "Things";
    width: 122px;
    filter: blur(0px); }
  92.5% {
    transform: rotate3D(1, 0, 0, -810deg) translate3d(0, 100px, -50px);
    content: "Things";
    width: 236px;
    filter: blur(2px); }
  92.5001% {
    transform: rotate3D(1, 0, 0, 90deg) translate3d(0, 0px, -30px);
    content: "Current Work";
    width: 236px;
    filter: blur(2px); }
  97.5% {
    transform: rotate3D(1, 0, 0, 0deg)translate3d(0, 0px, -10px);
    content: "Current Work";
    width: 236px;
    filter: blur(0px); }
  100% {
    transform: rotate3D(1, 0, 0, 0deg)translate3d(0, 0px, -10px);
    content: "Current Work";
    width: 236px;
    filter: blur(0px); } }
h1.header-title {
  transform: translate3d(0, 0, 0);
  transform-origin: 0 75%;
  transition: transform .1s;
  /*
  &:hover {
    transform: translate3d(0,0,0) scale3d(1.1, 1.1, 1);
  }
  */ }

span#title-main {
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 30rem;
  text-align: right;
  white-space: nowrap; }

span#title-main:after {
  display: inline-block;
  content: "Current Work";
  animation: rotateIt 7.5s infinite linear;
  animation-fill-mode: forwards; }

span#title-main:before {
  position: absolute;
  right: 0px;
  display: inline-block;
  content: "Current Work";
  animation: rotateItBG 7.5s infinite linear;
  animation-fill-mode: forwards;
  color: rgba(0, 0, 0, 0.125); }

/* Type utilities */
.h0 {
  font-size: 64px;
  line-height: 1.0125;
  margin-top: 0.85em;
  word-wrap: break-word; }
  @media (min-width: 52em) {
    .h0 {
      font-size: 128px; } }

.text-right {
  text-align: right; }

.no-underline {
  text-decoration: none !important; }
  .no-underline:hover {
    text-decoration: no-underline !important; }

.bold {
  font-weight: bold; }

.uppercase {
  text-transform: uppercase; }

.lh-condensed {
  line-height: 1.25; }

.list-reset {
  list-style: none;
  padding-left: 0; }

/* Border utilities */
.border-bottom-thick {
  border-bottom: 2px solid;
  border-color: currentColor; }

.border-bottom-thin {
  border-bottom: 1px solid;
  border-color: currentColor; }

.border-top-thick {
  border-top: 2px solid;
  border-color: currentColor; }

.border-top-thin {
  border-top: 1px solid;
  border-color: currentColor; }

.border-0 {
  border: 0; }

/* Theme color utilities */
.header-background {
  background-color: #555;
  box-shadow: inset 0 -20px 20px -20px rgba(0, 0, 0, 0.75); }

.header-border {
  border-color: rgba(255, 255, 255, 0.2);
  /*$color-foreground;*/ }

.header-title {
  color: #fff; }

.header-text {
  color: #fff; }

.header-social {
  fill: #fff; }

.header-social-accent {
  fill: #ff7200;
  color: #ff7200; }

.header-link:hover {
  color: #E74727 !important; }

.text-accent {
  color: #E74727; }

/* Layout utilities */
.container {
  max-width: 64em; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

.block {
  display: block !important; }

.inline-block {
  display: inline-block !important; }

.table {
  display: table !important; }

@media (max-width: 52em) {
  .sm-width-full {
    width: 100% !important; }

  .sm-hidden {
    display: none !important; } }
.left {
  float: left; }

.right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.align-middle {
  vertical-align: middle; }

/* Padding */
.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.px-1 {
  padding-left: 8px;
  padding-right: 8px; }

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px; }

.px-2 {
  padding-left: 16px;
  padding-right: 16px; }

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px; }

.px-3 {
  padding-left: 32px;
  padding-right: 32px; }

.py-3 {
  padding-top: 32px;
  padding-bottom: 32px; }

.px-4 {
  padding-left: 64px;
  padding-right: 64px; }

.py-4 {
  padding-top: 64px;
  padding-bottom: 64px; }

/* Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mt-1 {
  margin-top: 8px; }

.mr-1 {
  margin-right: 8px; }

.mb-1 {
  margin-bottom: 8px; }

.ml-1 {
  margin-left: 8px; }

.mt-2 {
  margin-top: 16px; }

.mr-2 {
  margin-right: 16px; }

.mb-2 {
  margin-bottom: 16px; }

.ml-2 {
  margin-left: 16px; }

.mt-3 {
  margin-top: 32px; }

.mr-3 {
  margin-right: 32px; }

.mb-3 {
  margin-bottom: 32px; }

.ml-3 {
  margin-left: 32px; }

.mt-4 {
  margin-top: 64px; }

.mr-4 {
  margin-right: 64px; }

.mb-4 {
  margin-bottom: 64px; }

.ml-4 {
  margin-left: 64px; }

@media (min-width: 52em) {
  .mx-lg-auto {
    margin-left: auto;
    margin-right: auto; }

  .mt-lg-0 {
    margin-top: 0; }

  .mr-lg-0 {
    margin-right: 0; }

  .mb-lg-0 {
    margin-bottom: 0; }

  .ml-lg-0 {
    margin-left: 0; }

  .mt-lg-1 {
    margin-top: 8px; }

  .mr-lg-1 {
    margin-right: 8px; }

  .mb-lg-1 {
    margin-bottom: 8px; }

  .ml-lg-1 {
    margin-left: 8px; }

  .mt-lg-2 {
    margin-top: 16px; }

  .mr-lg-2 {
    margin-right: 16px; }

  .mb-lg-2 {
    margin-bottom: 16px; }

  .ml-lg-2 {
    margin-left: 16px; }

  .mt-lg-3 {
    margin-top: 32px; }

  .mr-lg-3 {
    margin-right: 32px; }

  .mb-lg-3 {
    margin-bottom: 32px; }

  .ml-lg-3 {
    margin-left: 32px; }

  .mt-lg-4 {
    margin-top: 64px; }

  .mr-lg-4 {
    margin-right: 64px; }

  .mb-lg-4 {
    margin-bottom: 64px; }

  .ml-lg-4 {
    margin-left: 64px; } }
.link-social {
  text-decoration: none;
  font-weight: bold;
  line-height: 1; }
  .link-social:hover {
    text-decoration: none !important; }

.link-primary {
  font-weight: 500;
  text-decoration: none;
  transition: color .25s; }
  .link-primary:hover {
    color: #ff7200;
    text-decoration: none; }

@media screen {
  .print-only {
    display: none; } }
@media print {
  .no-print,
  .noprint {
    display: none; }

  .container {
    max-width: 64rem; }

  .prose,
  .prose ul,
  .prose p,
  .prose ol {
    font-size: 10pt; }

  article > .prose.py-3.mb-4 {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 12pt !important; }

  .prose li {
    margin-bottom: 4pt; }

  h1 {
    font-size: 24pt; }

  h2 {
    font-size: 20pt; }

  h3 {
    font-size: 17pt; }

  h4 {
    font-size: 13pt;
    font-size: 12.5pt; }

  h5 {
    font-size: 11pt;
    font-size: 10.5pt; }

  .mb-1 {
    margin-bottom: 4pt; }

  .mb-2 {
    margin-bottom: 8pt; }

  .mb-3 {
    margin-bottom: 16pt; }

  .mb-4 {
    margin-bottom: 24pt; }

  .mb-5 {
    margin-bottom: 36pt; }

  .mt-1 {
    margin-top: 4pt; }

  .mt-2 {
    margin-top: 8pt; }

  .mt-3 {
    margin-top: 16pt; }

  .mt-4 {
    margin-top: 24pt; }

  .mt-5 {
    margin-top: 36pt; }

  .footer.mt-lg-4 {
    margin-top: 0; }

  /*
      .footer .col-8.py-2.sm-width-full {
          padding-top: 5pt;
          padding-bottom: 5pt;
      }
  */ }
/** Homepage **/
.social-icons-header > .inline-block {
  vertical-align: middle; }
